BOT_TOKEN=COLE_SEU_TOKEN_AQUI
BOT_NAME=Kaoruko Waguri
BOT_PREFIX="/,#"
BOT_OWNERS=8419311466

OKARUN_APIKEY=COLE_SUA_APIKEY_AQUI
OKARUN_BASE_URL=https://api.okarunsystem.com.br
OKARUN_TIMEOUT=60000

PAINEL_ENABLED=true
PAINEL_PORT=4091
PAINEL_URL=
PAINEL_ADMIN_EMAIL=seu_email@dominio.com
PAINEL_ADMIN_SENHA="sua_senha_segura"
PAINEL_REGISTRO_ABERTO=false

GROUP_LINK=
BOT_TZ=America/Sao_Paulo

ASSET_HEADER=https://res.cloudinary.com/wagurinuvem/image/upload/v1785035523/waguri/fotomenu_1785035522128_jpg_1785035522132_f4jita.jpg
ASSET_MENU=https://res.cloudinary.com/wagurinuvem/image/upload/v1785035523/waguri/fotomenu_1785035522128_jpg_1785035522132_f4jita.jpg
ASSET_ERRO=https://res.cloudinary.com/wagurinuvem/image/upload/v1785035523/waguri/fotomenu_1785035522128_jpg_1785035522132_f4jita.jpg
